@use 'sass:list';

/**
 * Constructor
 */

/* prettier-ignore */
@function Matrix3($n11: 1, $n12: 0, $n13: 0, $n21: 0, $n22: 1, $n23: 0, $n31: 0, $n32: 0, $n33: 1) {
	@return (
		$n11, $n12, $n13,
		$n21, $n22, $n23,
		$n31, $n32, $n33
	);
}

/* prettier-ignore */
@function Matrix4(
	$n11: 1, $n12: 0, $n13: 0, $n14: 0, $n21: 0, $n22: 1, $n23: 0, $n24: 0, $n31: 0, $n32: 0, $n33: 1, $n34: 0, $n41: 0, $n42: 0, $n43: 0, $n44: 1) {
	@return (
		$n11, $n12, $n13, $n14
		$n21, $n22, $n23, $n24
		$n31, $n32, $n33, $n34,
		$n41, $n42, $n43, $n44
	);
}

/**
 * Validators
 */

@function isMatrix3($mtx) {
	@return list.length($mtx) == 3 * 3;
}

@function isMatrix4($mtx) {
	@return list.length($mtx) == 4 * 4;
}
